
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@800&display=swap');



body {
    padding:30px;
    font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
   
}
h1 {
    color: rgb(8, 70, 185);
    text-align: center;
    font-size: 40px;
    background-color: rgb(223, 222, 222);
    font-family: 'Francois One', sans-serif;


}
figure {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    margin: auto;
}
img {
    width: 100%;
    border-radius: 10%;  
}
figcaption {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {background-color: rgb(216, 216, 216);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}  
div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
iframe {margin:center;
}

ul {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li {
    font-size: 20px;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.son { 
    width: 200px;
    margin: auto;
    display: flex;
}
.instagramLog {
    margin: 5px;
    height: 45px;
}

.faceLog {
    margin: 5px;
    height: 45px;
}
.gitLogo {
    margin: 5px;
    height: 45px;
}
.inked {
    margin: 5px;
    display: flex;

}